<div class="span4 ice-box offset4 text-center">
	<h1 class="awesome-sauce"> 
		Hi I'm Rustam
	</h1>

	<br/>

	<h2>
		Hacking is fun on this snowy Saturday
	</h2>

	<br/>

	<%= link_to 'Launch', '#', :class => 'btn btn-warning' %>

</div>