
<% @pics.each do |pic| %>
	<div class="ice-box span4 text-center">
		
		<h2>
		<u>
			<%= pic.title %>
		</u>
			<%= image_tag pic.image %>
		</h2>
			<%= pic.message %>	
		<br/>
			<%= pic.who %>
	</div>
<% end %>


